<footer class="border-t border-[#232229] mt-40 mb-10">
    <div class="max-w-6xl mx-auto px-6 py-8 text-xs text-[#6B6678] flex justify-center gap-1">
        <p>
            copyright &copy;
            <script>
                new Date().getFullYear() > 2000 && document.write("" + new Date().getFullYear());
            </script>
            InoueHaruki. All rights reserved.
        </p>
        <p>
            ・ This product uses the TMDB API but is not endorsed or certified by TMDB.
        </p>
    </div>
</footer>