<!DOCTYPE html>
<html lang="ja">
<head>
    <script src="https://cdn.tailwindcss.com"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>視聴ログ一覧</title>
</head>
<body class="bg-gray-900 text-white min-h-screen p-8">
    <h1 class="text-3xl font-bold mb-6">映画・アニメ視聴ログ</h1>

    <a href="/add.html">新規登録</a>

    <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
        {% for movie in movies %}
        <div class="bg-gray-800 rounded-lg shadow-lg p-4">
            <div>作品名:{{ movie[1] }}</div>
            <div>ジャンル:{{ movie[2] }}</div>
            <div>視聴日:{{ movie[3] }}</div>
            <div>評価:{{ movie[4] }}</div>
            <div>感想:{{ movie[5] }}</div>
            <div>
                {% if movie[6] %}
                <img src="/{{ movie[6] }}" width="100">
                {% else %}
                なし
                {% endif %}
            </div>
            <div><a href="/edit/{{ movie[0] }}">編集</a></div>
            <div>
                <form action="/delete/{{ movie[0] }}" method="post">
                    <button type="submit">削除</button>
                </form>
            </div>
        </div>
        
        {% endfor %}
    </div>

    <!-- <table border="1">
        <tr>
            <th>作品名</th>
            <th>ジャンル</th>
            <th>視聴日</th>
            <th>評価</th>
            <th>感想</th>
            <th>画像</th>
        </tr>
        {% for movie in movies %}
        <tr>
            <td>{{ movie[1] }}</td>
            <td>{{ movie[2] }}</td>
            <td>{{ movie[3] }}</td>
            <td>{{ movie[4] }}</td>
            <td>{{ movie[5] }}</td>
            <td>
                {% if movie[6] %}
                <img src="/{{ movie[6] }}" width="100">
                {% else %}
                なし
                {% endif %}
            </td>
            <td>
                <a href="/edit/{{ movie[0] }}">編集</a>
            </td>
            <td>
                <form action="/delete/{{ movie[0] }}" method="post">
                    <button type="submit">削除</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table> -->

</body>
</html>